@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// this is a testing

@media (max-width: 1440px) {
  body {
    // font-family: "Ubuntu", sans-serif;
    //       font-family: "Overpass", sans-serif;
    // // background-color: rgb(193, 193, 255);
    width: 100vw;
    height: 1024px;
    background-color: #f4f4f4;

    // span arrow styles
    .arrow-position {
      position: relative;
      top: 2px;
      left: 2px;
    }
    .open {
      cursor: pointer;
    }
    .open:focus {
      transform: rotate(10deg);
      transition: all 0.5s ease-in-out;
    }

    // end of span arrow styles
    .firstpage {
      width: 100vw;
      height: 600px;
      background: $Mobile-very-light-red;
      background-image: url(/images/bg-pattern-intro.svg);
      background-image: url(/images/bg-pattern-intro.svg),
        linear-gradient(
          to right,
          $Mobile-very-light-red,
          $Light-red,
          $Mobile-light-red
        );
      background-repeat: no-repeat;
      background-size: 3000px 3000px;
      background-position: -400px -1250px;
      border-bottom-left-radius: 150px;

      // display
      .firstpage__navbar,
      .firstpage__navbar__leftside,
      .firstpage__navbar__rightside,
      .firstpage__navbar__leftside__list,
      .firstpage__textpart {
        display: flex;
      }
      .firstpage__navbar {
        justify-content: space-between;
        padding: 70px 200px;
      }
      // logo and list product company and connect
      .firstpage__navbar__leftside {
        .firstpage__navbar__leftside__logo {
          margin-right: 60px;
          margin-left: -20px;
        }
        li {
          font-family: "Ubuntu", sans-serif;

          list-style: none;
        }
      }
      .firstpage__navbar__leftside__list__button {
        font-weight: 700;
        font-size: 1.1rem;
        color: $White;
        margin: 10px 20px;
        background: none;
        border: none;
      }

      // sign up and login
      .firstpage__navbar__rightside {
        // this is the hamburger menu, this is notinclude in the desktop view
        .firstpage__navbar__rightside__hamburger {
          display: none;
        }
        &__login {
          font-family: "Ubuntu", sans-serif;
          font-weight: 700;
          color: $White;
          margin-right: 20px;
          font-size: 1.1rem;
        }
        &__signup {
          padding-top: 10px;
          margin-top: -10px;
          text-align: center;
          color: $Light-red;
          font-family: "Ubuntu", sans-serif;

          font-size: 1.1rem;
          font-weight: 700;
          margin-left: 20px;
          background-color: white;
          border-radius: 20px;
          width: 100px;
          height: 40px;
        }
      }
      // text part
      .firstpage__textpart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Overpass", sans-serif;
        margin-top: 50px;
        &__tagline {
          color: $White;
          font-weight: 600;
          font-size: 4rem;
        }
        &__text {
          color: $White;
          font-size: 1.2rem;
          margin-top: 20px;
        }
        &__start {
          margin-top: 60px;
          display: flex;
          flex-direction: row;
          // styles
          &--start,
          &--learn {
            font-family: "Ubuntu", sans-serif;
            padding-top: 10px;
            margin-top: -10px;
            text-align: center;
            font-weight: 700;
            width: 130px;
            height: 40px;
          }
          &--start {
            margin-right: 10px;
            color: $Light-red;
            background-color: white;
            border-radius: 20px;
          }
          &--learn {
            color: $White;
            border-radius: 20px;
            border: $White 1px solid;
            margin-left: 10px;
          }
        }
      }
    }
    // flex styles
    .secondpage {
      .secondpage__title {
        font-size: 2rem;
        font-family: "Overpass", sans-serif;
        font-weight: 600;
        color: $Very-dark-blue;
        position: relative;
        top: 100px;
      }
      width: 100%;
      height: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .secondpage__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
        height: 100%;

        .secondpage__img {
          width: auto;
          height: 85%;
          position: relative;
          left: 250px;
        }
        .secondpage__container__column {
          position: relative;
          left: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 150px;
          position: relative;
          top: -60px;

          .secondpage__container__column__text--second {
            margin-top: 10px;
          }
          .secondpage__container__column__text--bold {
            position: relative;
            left: 50px;
            width: 100%;

            color: $Very-dark-blue;
            font-size: 1.7rem;
            font-family: "Overpass", sans-serif;
            font-weight: 600;
            margin-bottom: 30px;
            width: 500px;
            height: 10px;
          }
          .secondpage__container__column__text {
            margin-left: 100px;
            width: 100%;
            color: $Very-dark-grayish-blue;
            font-family: "Overpass", sans-serif;
            font-size: 1.1rem;
            margin-bottom: 50px;
            width: 500px;
          }
        }
      }
    }

    // this is the third page
    .phonepage {
      // background-color: aquamarine;
      width: 100%;
      height: 400px;
      background: $Very-dark-blue;
      background-image: url("/images/bg-pattern-circles.svg"); /* fallback */
      background-image: url("/images/bg-pattern-circles.svg"),
        linear-gradient(
          to right,
          $Mobile-very-dark-gray-blue,
          $Mobile-very-dark-desaturated-blue
        );
      background-repeat: no-repeat;
      background-size: 1200px 1200px, cover;
      background-position: -230px -650px, 0 0;
      display: flex;
      border-bottom-left-radius: 100px;
      border-top-right-radius: 100px;
      .phonepage__phone {
        position: relative;
        top: -100px;
        left: 180px;
        width: auto;
        height: 600px;
      }
      .phonepage__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: center;
        left: 200px;
        width: 500px;
        .phonepage__column__title {
          color: white;
          font-family: "Ubuntu", sans-serif;
          font-size: 2.1rem;
          margin-bottom: 30px;
        }
        .phonepage__column__text {
          color: #f4f4f4;
          font-family: "Ubuntu", sans-serif;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
    // this is the third section
    .thirdpage {
      width: 100%;
      height: 800px;

      .thirdpage__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .thirdpage__img {
          width: auto;
          height: 80%;
          position: relative;
          right: 210px;
        }
        .thirdpage__container__column {
          position: relative;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 150px;

          .thirdpage__container__column__text--second {
            margin-top: 10px;
          }
          .thirdpage__container__column__text--bold {
            position: relative;
            right: 80px;
            width: 100%;

            color: $Very-dark-blue;
            font-size: 1.7rem;
            font-family: "Overpass", sans-serif;
            font-weight: 600;
            margin-bottom: 30px;
            width: 500px;
            height: 10px;
          }
          .thirdpage__container__column__text {
            margin-right: 160px;
            width: 100%;
            color: $Very-dark-grayish-blue;
            font-family: "Overpass", sans-serif;
            font-size: 1.1rem;
            margin-bottom: 50px;
            width: 500px;
          }
        }
      }
    }
    .footer {
      border-top-right-radius: 150px;
      width: 100%;
      height: 400px;
      background-color: $Very-dark-black-blue;
      display: flex;
      color: white;
      font-family: "Ubuntu", sans-serif;
      padding-top: 60px;

      .footer__logo {
        margin-top: 15px;
        width: 101px;
        height: 40px;
        margin-left: 100px;
        margin-right: 170px;
      }
      &__container {
        display: flex;
        justify-content: space-between;
        li {
          list-style-type: none;
          color: rgb(199, 199, 199);
          margin-bottom: 20px;
          margin-right: 240px;
        }
        &__list__title {
          margin-top: 20px;
          color: white;
          font-size: 1.6rem;
          margin-bottom: 35px;
        }
      }
    }
  }
}
// /////////////////////////////////////////////////////////////////////////////////////////////////
// This is the mobile size 375px by 667px

@media (max-width: 375px) {
  body {
    // font-family: "Ubuntu", sans-serif;
    //       font-family: "Overpass", sans-serif;
    // // background-color: rgb(193, 193, 255);
    width: 100vw;
    height: 1024px;
    background-color: #f4f4f4;

    // span arrow styles
    .arrow-position {
      position: relative;
      top: 2px;
      left: 2px;
    }
    .open {
      cursor: pointer;
    }
    .open:focus-within {
      transform: rotate(10deg);
      transition: all 0.5s ease-in-out;
    }

    // end of span arrow styles
    .firstpage {
      width: 100vw;
      height: 600px;
      background: $Mobile-very-light-red;
      background-image: url(/images/bg-pattern-intro.svg);
      background-image: url(/images/bg-pattern-intro.svg),
        linear-gradient(
          to right,
          $Mobile-very-light-red,
          $Light-red,
          $Mobile-light-red
        );
      background-repeat: no-repeat;
      background-size: 1200px 1200px;
      background-position: -220px -180px, 0 0;
      border-bottom-left-radius: 150px;

      // display
      .firstpage__navbar,
      .firstpage__navbar__leftside,
      .firstpage__navbar__rightside,
      .firstpage__navbar__leftside__list,
      .firstpage__textpart {
        display: flex;
      }
      .firstpage__navbar {
        justify-content: space-between;
        padding: 40px 30px;
      }
      // logo and list product company and connect
      .firstpage__navbar__leftside {
        .firstpage__navbar__leftside__logo {
          margin-right: 60px;
          margin-left: 0;
        }
        // the list is not included
        li {
          display: none;
          font-family: "Ubuntu", sans-serif;
          font-weight: 700;
          font-size: 1.1rem;
          color: $White;
          margin: 10px 20px;
          list-style: none;
        }
      }

      // sign up and login this will be remove also in the mobile view
      .firstpage__navbar__rightside {
        .firstpage__navbar__rightside__hamburger {
          position: relative;
          top: 15px;
          display: inline-block;
          &--lines {
            width: 40px;
            height: 2px;
            background-color: white;
          }
          &--lines::after,
          &--lines::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: white;
          }
          &--lines::before {
            top: 10px;
          }
          &--lines::after {
            top: -10px;
          }
        }
        &__login {
          display: none;
          font-family: "Ubuntu", sans-serif;
          font-weight: 700;
          color: $White;
          margin-right: 20px;
          font-size: 1.1rem;
        }
        &__signup {
          display: none;
          padding-top: 10px;
          margin-top: -10px;
          text-align: center;
          color: $Light-red;
          font-family: "Ubuntu", sans-serif;

          font-size: 1.1rem;
          font-weight: 700;
          margin-left: 20px;
          background-color: white;
          border-radius: 20px;
          width: 100px;
          height: 40px;
        }
      }
      // text part
      .firstpage__textpart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Overpass", sans-serif;
        margin-top: 50px;
        &__tagline,
        &__text {
          text-align: center;
          padding: 0 30px;
        }
        &__tagline {
          color: $White;
          font-weight: 600;
          font-size: 2.2rem;
        }
        &__text {
          color: $White;
          font-size: 1.5rem;
          margin-top: 20px;
        }
        &__start {
          margin-top: 60px;
          display: flex;
          flex-direction: row;
          // styles
          &--start,
          &--learn {
            font-family: "Ubuntu", sans-serif;
            padding-top: 10px;
            margin-top: -10px;
            text-align: center;
            font-weight: 700;
            width: 130px;
            height: 40px;
          }
          &--start {
            margin-right: 10px;
            color: $Light-red;
            background-color: white;
            border-radius: 20px;
          }
          &--learn {
            color: $White;
            border-radius: 20px;
            border: $White 1px solid;
            margin-left: 10px;
          }
        }
      }
    }
    // flex styles
    .secondpage {
      width: 100%;
      height: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .secondpage__title {
        font-size: 1.5rem;
        font-family: "Overpass", sans-serif;
        font-weight: 600;
        color: $Very-dark-blue;
        position: static;
        top: 0;
        margin-top: 30px;
      }

      // in the mobile the contents should be stack in column
      .secondpage__container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        top: -40px;
        overflow-x: hidden;
        // overflow-y: hidden;
        height: 100%;

        .secondpage__img {
          width: auto;
          height: 35%;
          position: static;
          left: 0;
        }
        .secondpage__container__column {
          position: static;
          margin-top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          top: 30px;

          .secondpage__container__column__text--second {
            margin-top: 10px;
          }
          // text styles

          .secondpage__container__column__text--bold {
            position: static;
            left: 0;
            color: $Very-dark-blue;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 60px;
            height: 5px;
          }
          .secondpage__container__column__text {
            margin-left: 0;
            font-family: "Overpass", sans-serif;
            font-size: 0.8rem;
            margin-bottom: 25px;
            line-height: 1.8;
          }
          .secondpage__container__column__text--bold,
          .secondpage__container__column__text {
            text-align: center;
            width: 280px;
            font-family: "Overpass", sans-serif;
          }
        }
      }
    }

    // this is the third page
    .phonepage {
      // background-color: aquamarine;
      margin-top: 85px;
      width: 100%;
      height: 550px;
      background: $Very-dark-blue;
      background-image: url("/images/bg-pattern-circles.svg"); /* fallback */
      background-image: url("/images/bg-pattern-circles.svg"),
        linear-gradient(
          to right,
          $Mobile-very-dark-gray-blue,
          $Mobile-very-dark-desaturated-blue
        );
      background-repeat: no-repeat;
      background-size: 500px 500px, cover;
      background-position: -70px -180px, 0 0;
      display: flex;
      border-bottom-left-radius: 100px;
      border-top-right-radius: 100px;
      .phonepage__phone {
        position: relative;
        top: -150px;
        left: 30px;
        width: auto;
        height: 350px;
      }
      .phonepage__column {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: center;
        left: -320px;
        width: 375px;
        .phonepage__column__title,
        .phonepage__column__text {
          text-align: center;
          font-family: "Ubuntu", sans-serif;
        }
        .phonepage__column__title {
          color: white;
          font-size: 2.1rem;
          margin-bottom: 30px;
          width: 350px;
        }
        .phonepage__column__text {
          color: #f2efef;
          font-size: 14px;
          line-height: 2;
          width: 300px;
        }
      }
    }
    // this is the third section
    .thirdpage {
      width: 100%;
      height: 900px;

      .thirdpage__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .thirdpage__img {
          width: auto;
          height: 35%;
          position: static;
          right: 0;
        }
        .thirdpage__container__column {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 20px;

          .thirdpage__container__column__text--second {
            margin-top: 10px;
          }
          .thirdpage__container__column__text--bold,
          .thirdpage__container__column__text {
            font-family: "Overpass", sans-serif;
            text-align: center;
            width: 75%;
          }
          .thirdpage__container__column__text--bold {
            position: relative;
            right: 0px;
            color: $Very-dark-blue;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 30px;

            height: 10px;
          }
          .thirdpage__container__column__text {
            margin-right: 0;
            color: $Very-dark-grayish-blue;
            font-size: 14px;
            margin-bottom: 50px;
            line-height: 1.9;
          }
        }
      }
    }
    .footer {
      border-top-right-radius: 90px;
      width: 100%;
      height: 680px;
      background-color: $Very-dark-black-blue;
      display: flex;
      flex-direction: column;
      color: white;
      font-family: "Ubuntu", sans-serif;
      padding-top: 30px;
      align-items: center;

      .footer__logo {
        margin-top: 0;
        width: auto;
        height: 30px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
      }
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        li {
          list-style-type: none;
          color: rgb(199, 199, 199);
          margin-bottom: 10px;
          margin-right: 0;
          text-align: center;
        }
        &__list__title {
          margin-top: 20px;
          color: white;
          font-size: 1.6rem;
          margin-bottom: 25px;
        }
      }
    }
  }
}
